.home {
  width: 100%;
  height: 100%;
  margin: auto;
  opacity: 0.8;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("/img/alien.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto 50%;
  transition: 0.15s;
  @media (orientation: portrait) and (min-width: 768px) {
    background-position: right bottom;
    background-size: 100% auto;
  }

  @media (orientation: landscape) {
    background-position: right bottom;
    background-size: auto 70%;
  }

  .welcome {
    width: 100%;
    height: 70%;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5vh 5% 5vh 5%;
    margin-top: 11vh;
    background-color: rgba(0, 0, 0, 0.65);
    transition: 0.3;
    @media (orientation: landscape) {
      margin-top: 25vh;
      padding: 0 5%;
    }
    @media (orientation: landscape) and (min-width: 667px) {
      margin-top: 20vh;
    }
    @media (orientation: landscape) and (min-width: 1024px) {
      margin-top: 10vh;
    }

    @media (min-width: 1024px) {
      padding: 0 10%;
    }
    h1,
    h2 {
      width: 100%;
      font-weight: 300;
      opacity: 0.9;
      color: #fdfdfd;
      text-shadow: 2px 2px #1d1d1d;
      visibility: hidden;
    }
    h1 {
      font-size: 3rem;

      @media (orientation: landscape) and (min-width: 667px) {
        font-size: 4rem;
      }
      @media (min-width: 414px) and (orientation: portrait) {
        font-size: 3.5rem;
      }
      @media (min-height: 812px) and (orientation: portrait) {
        font-size: 3.5rem;
      }
      @media (min-width: 768px) {
        font-size: 5rem;
      }
    }
    h2 {
      font-size: 1.5rem;
      @media (orientation: landscape) and (min-width: 667px) {
        font-size: 2rem;
      }
      @media (min-width: 414px) and (orientation: portrait) {
        font-size: 2rem;
      }
      @media (min-height: 812px) and (orientation: portrait) {
        font-size: 2rem;
      }
      @media (min-width: 768px) {
        font-size: 3rem;
      }
    }
    .projects,
    .contact {
      visibility: hidden;
      color: white;
      font-weight: 700;
      box-shadow: 0px 3px 7px -2px rgb(0, 0, 0);
      text-shadow: 1px 1px #1d1d1d;
      transition: 0.3;

      &:hover {
        background-color: rgb(12, 12, 12);
      }
      @media (min-width: 375px) and (orientation: portrait) {
        margin: 20px 10%;
        font-size: 1.4rem;
      }

      @media (min-width: 414px) and (orientation: landscape) {
        font-size: 1.3rem;
      }
      @media (min-width: 768px) {
        font-size: 2rem;
      }
      @media (min-width: 1024px) {
        padding: 20px 40px;
      }
    }
    .projects {
      background-color: #4caf50;
    }
    .contact {
      background-color: #008cba;
    }
  }
}
