.contact-site {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 100px 0 0;

  letter-spacing: 1px;

  a:hover {
    text-decoration: underline;
  }

  @media (min-width: 736px) {
    margin: 150px 0 0;
    padding: 0 5%;
  }
  @media (min-width: 1024px) {
    padding: 0 10%;
  }
  @media (min-width: 1200px) {
    padding: 0;
    justify-content: space-evenly;
  }
}
.contact__section {
  width: 100%;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  opacity: 0.9;
  background-color: #17a347;
  box-shadow: 0 0 5px #333;
  border-radius: 10px;
  @media (min-width: 1200px) {
    width: 45%;
  }
}
.contact__title {
  text-align: center;
  padding: 0 0 10px 0;
  margin-bottom: 20px;
  font-size: 2rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.52);

  @media (orientation: landscape) {
    font-size: 3rem;
  }
}
.contact__text,
.contact__subtitle {
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  color: #fdfdfd;
  padding: 10px;
  border-left: 10px solid #fdfdfd;
  box-shadow: 0 0 5px #333;
  border-radius: 5px;

  @media (orientation: landscape) {
    font-size: 1.2rem;
  }
}
.contact__subtitle {
  margin-bottom: 10px;
  @media (min-width: 1024px) {
    font-size: 1.5rem;
  }
}
.contact__text,
.contact_message {
  font-size: 0.9rem;
  @media (min-width: 640px) {
    font-size: 1rem;
  }
  @media (min-height: 736px) {
    font-size: 1.1rem;
  }
}

.contact__text {
  position: relative;
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 30px 0 30px 10px;

  white-space: nowrap;
  background-color: transparent;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0px;
    height: 100%;
    background-color: #fdfdfd;
    z-index: -1;
    transition: all 0.4s ease-in-out 0.1s;
  }

  &:hover {
    color: #17a347;
    .contact__link {
      color: #17a347;
    }
    &::before {
      width: 100%;
      left: 0;
    }
    .contact_message {
      opacity: 1;
      @media (min-width: 568px) {
        display: flex;
      }
    }
  }
  .contact__link {
    cursor: pointer;
    color: #fdfdfd;
  }
  .contact_message {
    display: none;
    text-transform: uppercase;
    color: #17a347;
    opacity: 0;
    transition: 0.3s;
    flex-grow: 1;
    justify-content: center;
  }
  .button {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 5px;
    background-color: transparent;

    font-size: 0.7rem;
    letter-spacing: 0;
    background-color: rgb(245, 207, 39);
    @media (min-width: 640px) {
      font-size: 1rem;
    }
  }
}
